# IDE & System Related Files #
.buildpath
.project
.settings
.DS_Store
.idea

# Docker
docker-compose.override.yml

# Vendor (e.g. Composer)
vendor/*
!vendor/.gitkeep

# Volume
data/*

# Themes
sites/**/theme/node_modules
sites/**/theme/css/*.map

# Sites
sites/joomla
sites/wordpress
/backup-12.5.2025_21-47-16_wfcsco.tar.gz
/sites/google0fb900308b4406af.html
google0fb900308b4406af.html
